body {
  background-image: url("./finedine.jpg");
  font-family: Lobster;
  color: red;
  font-size: 30px;
}

.input-box {
  margin: 5px;
}

#search {
  margin: 5px;
}

h1 {
    text-align: center;
    color: red;
}